body{
	padding:0;
	margin:0;
	font-family:Verdana;
	background-image: url('http://demo.webstutorial.com/css3-gradient-textures/bodybg.png');
	background-repeat:repeat;
}

#wrapper{
    clear: both;
    height: auto;
    margin: 0 auto;
    width: 850px;
}

#canvas {
    border: 1px solid #888888;
    box-shadow: 0 0 5px #888888;
    float: left;
    margin: 20px 0 20px 30px;
    width: 600px;
}

#info {
    background-color: transparent;
    border: 1px solid #888888;
	border-left:0px;
    border-radius: 0 10px 10px 0;
    float: left;
    margin-top: 20px;
    padding: 20px 30px 20px 0;
}

#info td {
    border: 1px solid #888888;
}

.header{
	background-image: -moz-linear-gradient(center top , #3D4850 3%, #313D45 4%, #232B30 100%);
	background-image: -webkit-linear-gradient(-90deg , #3D4850 3%, #313D45 4%, #232B30 100%);
	background-repeat:repeat;
	background-color:transparent;
    border: 1px solid #1C252B;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    color: #FFFFFF;
    cursor: default;
    display: block;
    font: 13px Arial;
    margin: 60px auto 10px;
    outline: 0 none;
	width:200px;
    padding: 5px 10px;
    text-decoration: none;
	text-align:center;
    text-shadow: 1px 1px #1F272B;
}

.header:hover {
    background: none repeat scroll 0 0 #666666;
}

#level {
    background: none repeat scroll 0 0 transparent;
    border: 1px solid #999999;
    padding: 5px;
    width: 50px;
}

#footer {
	background-image: -webkit-linear-gradient(top, #BFDC7A, #8EBF45);
	background-image:    -moz-linear-gradient(top, #BFDC7A, #8EBF45);
	background-image:     -ms-linear-gradient(top, #BFDC7A, #8EBF45);
	background-image:      -o-linear-gradient(top, #BFDC7A, #8EBF45);
	color: #6a6340;
	-webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
	-moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
	box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
    bottom: 0;
    height: 30px;
    padding: 7px 0;
    position: fixed;
    width: 100%;
}

#footer p {
    color: #333333;
    font: bold 18px Sans-Serif;
    margin: 0;
    padding: 0;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}



